@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin borderRadius($ilePx) {
  -webkit-border-radius: $ilePx;
  -moz-border-radius: $ilePx;
  border-radius: $ilePx;
}
