/* navbar */
$color-bar-top-background: rgba(10,10,10,1);
$color-bar-bottom-background: rgba(0,0,0,1);
$color-bar-bottom-background--lighter: rgba(22, 22, 22, 0.8);
$color-nav-menu-item: white;

$nav-first-row-transition: max-height 0.25s 0s linear;
$nav-second-row-transition: background-color 0.25s 0s linear;


/* global */
$color-red: rgb(221,0,0);
$color-gray: rgb(147, 147, 147);

$font-family: selfFont, "Open Sans", sans-serif;
